Analysis/match_data_prep.rda
media/initial_balance_plot.pdf
.DS_Store
*.fff
*.log
*.blg
*.aux
*-blx.bib
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.out
*.run.xml
*.tex.orig
*.ttt
*-blx.bbl
*synctex*
*concordance*
*swp
.DS_Store
.RData
*.dot
.Rproj.user
.Rhistory
Analysis/describe_design_soldvsnot.tex
Analysis/design_soldvsnot.tex
Analysis/initial_balance.tex
Analysis/match_data_prep.tex
main-old.tex
oldpreamble.tex
